.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px 0px;
}

.header__container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
}