@import './themes/dark.css';
@import './themes/light.css';

body {
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}