.modal {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #93b998;
	padding: 15px;
	z-index: 500;
	border-radius: 8px;
}

.modal__title {
	display: flex;
	justify-content: space-between;
}

.modal__backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__cross {
	display: flex;
	justify-content: end;
}